<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Cristina Country Club</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="heart icon">pool</mat-icon>
        <button mat-button type="reset" routerLink='home' routerLinkActive='mat-accent'>Home</button>
        <button mat-button type="reset" routerLink='socios' routerLinkActive='mat-accent'>Sócios</button>
        <button mat-button type="reset" routerLink='eventos' routerLinkActive='mat-accent'>Eventos</button>
        <button mat-button type="reset" routerLink='patrimonio' routerLinkActive='mat-accent'>Patrimônio</button>
        <button mat-button type="reset" routerLink='financeiro' routerLinkActive='mat-accent'>Financeiro</button>
    </mat-toolbar-row>
</mat-toolbar>