<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Cristina Country Club</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <button mat-button (click)='btnHomeColorClick()' [color]="btnHomeColor" type="reset" routerLink='home'>Home</button>
        <button mat-button (click)='btnSociosColorClick()' [color]="btnSociosColor" type="reset" routerLink='socios'>Sócios</button>
        <button mat-button (click)='btnEventosColorClick()' [color]="btnEventosColor" type="reset" routerLink='eventos'>Eventos</button>
        <button mat-button (click)='btnPatrimonioColorClick()' [color]="btnPatrimonioColor" type="reset" routerLink='patrimonio'>Patrimônio</button>
        <button mat-button (click)='btnFinanceiroColorClick()' [color]="btnFinanceiroColor" type="reset" routerLink='financeiro'>Financeiro</button>
    </mat-toolbar-row>
</mat-toolbar>