<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Cristina Country Club</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <button mat-button color="" type="reset">Sócios</button>
        <button mat-button color="" type="reset">Gastos</button>
        <button mat-button color="" type="reset">Patrimônios</button>
        <button mat-button color="" type="reset">Eventos</button>
        <button mat-button color="" type="reset">Financeiro</button>
  </mat-toolbar-row>
</mat-toolbar>
<app-socios></app-socios>